﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h2>Como você deseja acessar o sistema?</h2>
    <div class="row mt-4 justify-content-center">
        <div class="col-12 col-md-4 mb-3">
            <a asp-action="Login" asp-controller="Medico" class="btn btn-primary btn-lg w-100">
                🩺 Entrar como Médico
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <a asp-action="Login" asp-controller="Cliente" class="btn btn-success btn-lg w-100">
                😊 Entrar como Paciente
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>


        @if (TempData["MensagemSucesso"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'success',
                            title: 'Sucesso',
                            text: 'Médico deletado com sucesso!'
                        });
            </text>
        }
        @if (TempData["NuloCon"] != null)
        {
            <text>
                            Swal.fire({
                                icon: 'error',
                                title: 'Sem Consultas Marcadas',
                                text: 'Esse Cliente nao tem consultas, logue novamente e marque uma consulta'
                            });
            </text>
        }
        @if (TempData["ConsultaOn"] != null)
        {
            <text>
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Nao foi possivel',
                                        text: 'Nao foi possivel deletar o usuario, ele tem consultas marcadas'
                                });
            </text>
        }
    </script>
}