﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h2>Como você deseja acessar o sistema?</h2>
    <div class="row mt-4 justify-content-center">
        <div class="col-12 col-md-4 mb-3">
            <a asp-action="Login" asp-controller="Medico" class="btn btn-primary btn-lg w-100">
                🩺 Entrar como Médico
            </a>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <a asp-action="Login" asp-controller="Cliente" class="btn btn-success btn-lg w-100">
                😊 Entrar como Paciente
            </a>
        </div>
    </div>
</div>