
@model Cliente
@{
    Layout = "../Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Login Cliente";
}


<form asp-controller="Cliente" asp-action="Login" method="post">
    <div class="d-flex" style="flex-direction: column; gap:25px">
        <h1>Login</h1>		
        <div class="form-group" style="100%">
            <div class="col-md-2">
                <label asp-for="Nome" class="form-label"></label>
            </div>
            <div>
                <input type="text" asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="width:100%">
            <div class="col-md-2">
                <label asp-for="Senha" class="form-label"></label>
            </div>
            <div>
                <input type="password" asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Logar" class="btn btn-primary" />
        </div>
    </div>
</form>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["erro"] != null)
        {
            <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro!',
                        text: 'Login ou senha inválidos'
                    });
            </text>
        }
    </script>
}