@model ConsultasMedicas.ViewModels.ConsultaViewModel

@{
    ViewData["Title"] = "Marcar Consulta";
}

<h1>Marcar Consulta</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Consultorio">Consultório</label>
        <select id="Consultorio" name="IdConsultorio" class="form-control">
            <option value="">Selecione um consultório</option>
            @foreach (var consultorio in Model.Consultorios)
            {
                <option value="@consultorio.Value">@consultorio.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Especialidade">Especialidade</label>
        <select id="Especialidade" name="NomeEspecialidade" class="form-control">
            <option value="">Selecione uma especialidade</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Medico">Médico</label>
        <select id="Medico" name="IdMedico" class="form-control">
            <option value="">Selecione um médico</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <input asp-for="Data" class="form-control" type="date" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Horario" class="control-label"></label>
        <input asp-for="Horario" class="form-control" type="time" />
        <span asp-validation-for="Horario" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        <i class="bi bi-calendar-check"></i> Marcar Consulta
    </button>
</form>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#Consultorio').change(function () {
                var consultorioId = $(this).val();
                $('#Especialidade').empty().append('<option>Carregando...</option>');
                $('#Medico').empty().append('<option>Selecione uma especialidade primeiro</option>');

                if (consultorioId) {
                    $.getJSON('/Cliente/ObterEspecialidadesPorConsultorio', { idConsultorio: consultorioId }, function (data) {
                        $('#Especialidade').empty().append('<option>Selecione uma especialidade</option>');
                        $.each(data, function (i, especialidade) {
                            $('#Especialidade').append('<option value="' + especialidade + '">' + especialidade + '</option>');
                        });
                    });
                }
            });

            $('#Especialidade').change(function () {
                var consultorioId = $('#Consultorio').val();
                var especialidade = $(this).val();
                $('#Medico').empty().append('<option>Carregando...</option>');

                if (consultorioId && especialidade) {
                    $.getJSON('/Cliente/ObterMedicosPorConsultorioEspecialidade', {
                        idConsultorio: consultorioId,
                        nomeEspecialidade: especialidade
                    }, function (data) {
                        $('#Medico').empty().append('<option>Selecione um médico</option>');
                        $.each(data, function (i, medico) {
                            $('#Medico').append('<option value="' + medico.idMedico + '">' + medico.nome + '</option>');
                        });
                    });
                }
            });

        });
        
    </script>
}
